* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  color: #333333;
  background-color: #F5FAFE;
}

.container {
  max-width: 1110px;
  margin: auto;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.navbar {
  background-color: #fff;
}
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.navbar-top__menu-button {
  display: none;
}
.navbar-bottom {
  background-color: #0A223D;
}
.navbar__search {
  margin-right: auto;
  margin-left: 108px;
}
.navbar-menu {
  display: flex;
  justify-content: space-between;
  padding: 31px 0;
}
.navbar-menu__link {
  color: #fff;
  text-transform: uppercase;
  line-height: 18px;
}

.logo {
  width: 177px;
  height: auto;
}

.search {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  height: 40px;
}
.search__input {
  width: 350px;
  height: 100%;
  background-color: #F5FAFE;
  padding-left: 23px;
  font-size: 12px;
  line-height: 15px;
  padding-right: 80px;
  color: #333333;
}
.search__button {
  position: absolute;
  height: 100%;
  width: 65px;
  top: 0;
  right: 0;
  background-color: #EC1F46;
}

.user {
  display: flex;
  align-items: center;
}
.user__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user__name {
  margin-left: 18px;
  font-size: 18px;
  line-height: 18px;
  color: #333333;
}

.breadcrumb-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 18px 0;
  margin: 0;
}
.breadcrumb-list__item {
  font-size: 12px;
  line-height: 13px;
}
.breadcrumb-list__item:nth-last-child(n+2)::after {
  content: "/";
  margin-right: 4px;
}
.breadcrumb-list__link {
  color: inherit;
}

.hotel {
  padding-top: 23px;
  padding-bottom: 70px;
}
.hotel-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hotel-info__offer {
  margin-left: 14px;
  margin-top: 4px;
}
.hotel-info__description {
  margin: 0;
}
.hotel-description {
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0;
}
.hotel-name {
  line-height: 30px;
  font-size: 24px;
  margin-top: 4px;
}
.hotel-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.stars {
  flex-basis: 100%;
}

.offer {
  font-size: 10px;
  line-height: 13px;
  padding: 4px 9px;
  background-color: #EC1F46;
  border-radius: 3px;
  color: #fff;
}

.rating {
  max-width: 65px;
  min-height: 45px;
  text-align: center;
  color: #fff;
  background-color: #EC1F46;
  border-radius: 4px;
}
.rating__text {
  font-size: 8px;
  line-height: 10px;
}
.rating__counter {
  font-size: 14px;
  line-height: 18px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }

  .logo {
    width: 132px;
  }

  .navbar-top {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .navbar__search {
    margin-left: auto;
    max-width: 340px;
  }
  .navbar-menu {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .navbar-menu__link {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 92%;
  }

  .navbar-menu, .navbar__user, .navbar__search {
    display: none;
  }
  .navbar-top__menu-button {
    width: 11px;
    height: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0;
  }

  .menu-button__line {
    width: 16px;
    height: 2px;
    background-color: #333333;
  }

  .stars {
    flex-basis: content;
  }

  .hotel-name {
    flex-basis: 100%;
  }
  .hotel-wrapper {
    justify-content: space-between;
  }
  .hotel-info__left {
    width: 100%;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-info__offer {
    order: -1;
    margin-left: 0;
  }
}
@media (max-width: 576px) {
  .logo {
    width: 99px;
  }
}/*# sourceMappingURL=style.css.map */